body { background: #632739; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 55px; display: flex; }
.block-shipping-0 { color: #3ab84d; font-size: 13px; margin-bottom: 5px; }
.block-user-1 { color: #5aada2; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #8791b5; font-size: 17px; margin-bottom: 5px; }
.block-helper-3 { color: #c42005; font-size: 18px; margin-bottom: 5px; }
.block-config-4 { color: #e6a8a8; font-size: 17px; margin-bottom: 5px; }
.block-helper-5 { color: #725ab4; font-size: 16px; margin-bottom: 5px; }
.block-cluster-6 { color: #fb96cf; font-size: 16px; margin-bottom: 5px; }
.block-cluster-7 { color: #4ff5fd; font-size: 17px; margin-bottom: 5px; }